/* Fondo general del calendario */
.react-calendar {
  width: 100%;
  background-color: #f4f6ef;
  border: none;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.125em;
  border-radius: 4px;
}

/* Header de los días */
.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: bold;
  color: #6b7280; /* Gris oscuro */
  background-color: #d4d8d4;
}

/* Cada celda del día */
.react-calendar__tile {
  background: none;
  height: 60px;
  padding: 0;
  border: 1px solid #e0e0e0;
  color: #6b7280;
}

/* Día actual */
.react-calendar__tile--now {
  background: #cadbb7;
  border-radius: 4px;
}

/* Día seleccionado */
.react-calendar__tile--active {
  background: #93a267;
  color: white;
  border-radius: 4px;
}

/* Vecinos del mes anterior/siguiente */
.react-calendar__tile--neighboringMonth {
  color: #bcbcbc;
  background-color: #f0f0f0;
}